<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
    <form style="display: inline-block; padding: 5px;"
          th:method="patch" th:action="@{/people/{id}(id=${person.getId()})}"
          th:object="${person}">

        <div>
            <label for="name">First Name</label>
            <input style="float: right;" type="text" th:field="*{name}" id="name"/>
            <br>
            <label for="surname">Last Name</label>
            <input style="float: right;" type="text" th:field="*{surname}" id="surname"/>
            <br>
            <label for="email">Email</label>
            <input style="float: right;" type="text" th:field="*{email}" id="email"/>
            <br>
            <input type="submit" value="Update"/>
            <a th:href="@{/people/{id}(id=${person.getId()})}"> Back</a>
        </div>

    </form>
</body>
</html>